/* @type */

.listItemRoot {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.link {
  color: inherit;
  font-size: smaller;
}

.linkWithNoUnread {
  font-weight: lighter;
}

.linkWithUnread {
  font-weight: bolder;
}

.listItemTextRoot {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
